@font-face {
    font-family: 'Star Jedi';
    src: url('../starjedi/Starjedi.ttf')
}

body {
    font-family: 'Star Jedi' ;
}


.card {
    float:left;
    border: solid black 2px;
    font-size:10px;
    margin: 20px;
    width:140px;
    text-align: center;
    background: green;
}

/* img.card-img-top {
   height: 120px;
   width: 120px;
} */
li.list-group-item {
    padding-top: 1px;
    padding-bottom: 1px;
}

.card-title{
    font-size:10px;
    text-align: center;
}

.enemy-card {
    background-color: aqua;
}

.defender-card {
    background-color: red;
}

.btn {
    float: left;
    clear: both;
}

h3 {
    clear: both;
}
#defender,#enemies {
    height: 100px;

}

#narratetext {
    float: left;
    position: relative;
    left: 20px;

   
    
    
}
