@font-face {
    font-family: 'Star Jedi';
    src: url('../starjedi/Starjedi.ttf')
}

body {
    font-family: 'Star Jedi' ;
}


.card {
    float:left;
    border: solid black 2px;
    font-size:10px;
    margin: 20px;
    width:140px;
    text-align: center;
}

li.list-group-item {
    padding-top: 1px;
    padding-bottom: 1px;
}

.card-title{
    font-size:10px;
    text-align: center;
}

.enemy {
   border: solid blue 3px;
}

.defender {
    border: solid red 3px;
}
.text-box {
    background: white;
    border: solid black 2px;
    border-radius: 5px;
}

.btn {
    float: left;
    clear: both;
}

h3 {
    clear: both;
}
#defender,#enemies {
    height: 100px;

}

#narratetext {
    border-radius: 5px;
    background: whitesmoke;
    position: relative;   
}
